/* Set your default so that the sizing and placement is predictable */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navWrapper {
  display: grid;
  grid-template-columns: 1fr auto 220px; /* En kolumn för länkarna och en för kundvagnen */
  align-items: center; /* Centrerar innehållet vertikalt */
  border: 1px solid black;
}


/* Ställ menyn och positioner på högre upplösningar */
.topnav {
  overflow: hidden; /* Kanske onödig att använda med så lite länkar */
  text-align: center;
  /* position: relative; */ /* Denna verkar inte heller göra någonting */
}

/* Styla nav länkarna */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav a:hover {
  background-color: lightgray;
  color: white;
}

/* Göm meny knappen vid högre upplösningar */
.topnav .menuIcon {
  display: none;
}

.topnav .closeIcon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {

  .navWrapper {
    grid-template-columns: 1fr auto; /* En kolumn för länkarna och en för kundvagnen */
    border: 1px solid black;
  }

  .topnav a {
    display: none;
  }
  /* Inställningar för meny-ikonen i stängt läge*/
  .topnav .menuIcon {
    display: block;
    position: fixed;
    top: 40px;
    left: 0;
    border-right: 1px solid black;
    height: 30px;
    width: 30px;
  }

  .topnav .closeIcon {
    display: none;
  }

  .topnav.menuOpened { 
    position: fixed; 
    background-color: #fff; 
    z-index: 9999;
    top: 0;
    width: 80%; /* Bredden på den öppna menyn */
    margin-top: 80px;
  }
  /* Inställningar för stäng-meny ikonen i öppet läge */
  .topnav.menuOpened .menuIcon {
    display: none;
  }
  /* Inställningar för stäng-meny ikonen i öppet läge */
  .topnav.menuOpened .closeIcon {
    display: block;
    position: fixed;
    top: 40px;
    height: 30px;
    width: 30px;
    left: 0;
    border: 1px solid black;
  }
  /* Inställningar för länkarna i den öppna menyn */
  .topnav.menuOpened a {
    float: none;
    display: block;
    text-align: left;
  }
}

img {
  max-width: 150px;
  max-height: 140px;
}

h3 {
  color: #007185;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

button {
  margin-top: 15px;
  width: 10rem;
  padding: .5rem;
  font-size: 1.1em;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}