/* Set your default so that the sizing and placement is predictable */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Everything is a child of this node, so set its height to take up the full page or more, then set some padding at the bottom so your footer can slip into the gap. */
#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
}

.Header {
 position: relative;
 height: 100px;
 width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  height: 700px;
  margin: 0 auto; /* Centrera containern horisontellt */
}
.product {
  width: 300px;
  height: 380px;
  text-align: center;
  border: 1px solid black;
}

.cart {
  color: black;
  font-weight: 700;
  font-size: 25px;
  text-align: right;
  padding-right: 30px;
}

h3 {
  color: #007185;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

button {
  margin-top: 15px;
  width: 10rem;
  padding: .5rem;
  font-size: 1.1em;
  border-radius: 5px;
  border-color: #D5D9D9;
  border-style: solid;
  border-width: 1px;
}
