.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  max-width: 1000px;
  margin: 1rem auto;
  position: relative;
}

.productCard {
  padding: 20px 0 0;
  text-align: center;
  background-color: #F5F5ED;
}

.productCard div {
  text-align: left;
  background-color: #FFFEFA;
  position: absolute;
}

.productCard a {
  text-decoration: none;
}

/* Media query för skärmstorlek mindre än 600px */
@media (max-width: 600px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    gap: 15px;
  }
}