.categoryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 3rem;
    max-width: 1000px;
    margin: 1rem auto;
    position: relative;
  }
  
h1 {
  font-size: 40px;
}

 .categoryCard {
  padding: 20px 0 0;
  text-align: center;
  background-color: #F5F5ED;
}
  
.categoryCard div {
  text-align: left;
  background-color: #FFFEFA;
  position: absolute;
}

.categoryCard a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    gap: 15px;
  }
}